<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EnvironmentName" value="Development" />
    <add key="AuthenticationMode" value="Local" />
    <add key="EntraTenantId" value="" />
    <add key="EntraClientId" value="" />
    <add key="UploadRoot" value="~/App_Data/Uploads" />
  </appSettings>
  <connectionStrings><add name="BCFixedAsset" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BCFixedAsset;Integrated Security=True;MultipleActiveResultSets=True;Application Name=BC Fixed Asset" /></connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" executionTimeout="180" enableVersionHeader="false" />
	  <globalization culture="en-GB" uiCulture="th-TH" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <authentication mode="Forms"><forms loginUrl="~/Account/Login.aspx" timeout="30" slidingExpiration="true" requireSSL="false" cookieless="UseCookies" /></authentication>
    <authorization><deny users="?" /></authorization>
    <sessionState mode="InProc" timeout="30" cookieSameSite="Lax" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" sameSite="Lax" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    <pages validateRequest="true" clientIDMode="Predictable" />
  </system.web>
  <location path="Account/Login.aspx"><system.web><authorization><allow users="*" /></authorization></system.web></location>
  <location path="Content"><system.web><authorization><allow users="*" /></authorization></system.web></location>
  <location path="Scripts"><system.web><authorization><allow users="*" /></authorization></system.web></location>
  <location path="Assets"><system.web><authorization><allow users="*" /></authorization></system.web></location>
  <location path="favicon.ico"><system.web><authorization><allow users="*" /></authorization></system.web></location>
  <system.webServer>
    <defaultDocument><files><clear /><add value="Default.aspx" /></files></defaultDocument>
    <httpProtocol><customHeaders><add name="X-Content-Type-Options" value="nosniff" /><add name="X-Frame-Options" value="SAMEORIGIN" /><add name="Referrer-Policy" value="strict-origin-when-cross-origin" /><add name="Permissions-Policy" value="camera=(self), microphone=(), geolocation=()" /></customHeaders></httpProtocol>
    <security><requestFiltering><requestLimits maxAllowedContentLength="20971520" /></requestFiltering></security>
  </system.webServer>
</configuration>
